services:
  dev-op-connect-api:
    extends:
      service: dev-op-connect-api
      file: ./onepassword-connect.yaml
    volumes:
      - dev-data:/home/opuser/.op/data
    profiles:
      - bootstrap
      - clean
  dev-op-connect-sync:
    extends:
      service: dev-op-connect-sync
      file: ./onepassword-connect.yaml
    volumes:
      - dev-data:/home/opuser/.op/data
    profiles:
      - bootstrap
      - clean
  prod-op-connect-api:
    extends:
      service: prod-op-connect-api
      file: ./onepassword-connect.yaml
    volumes:
      - prod-data:/home/opuser/.op/data
    profiles:
      - bootstrap
      - clean
  prod-op-connect-sync:
    extends:
      service: prod-op-connect-sync
      file: ./onepassword-connect.yaml
    volumes:
      - prod-data:/home/opuser/.op/data
    profiles:
      - bootstrap
      - clean

  dev-ansible-runner:
    extends:
      service: dev-ansible-runner
      file: ./ansible-runner.yaml
    profiles:
      - bootstrap
      - runner
      - clean
  prod-ansible-runner:
    extends:
      service: prod-ansible-runner
      file: ./ansible-runner.yaml
    profiles:
      - bootstrap
      - runner
      - clean

volumes:
  dev-data:
  prod-data:
