{% if is_primary_control_node %}
cluster-init: true
{% else %}
server: https://{{ primary_control_node_ip_address }}:{{ k3s.cluster.port }}
{% endif %}
token-file: {{ k3s.config_dir }}/cluster-token

flannel-backend: none
disable-network-policy: true
disable-helm-controller: true
disable-kube-proxy: true
disable:
  - coredns
  - local-storage
  - servicelb
  - traefik
  - metrics-server
etcd-expose-metrics: true
kubelet-arg:
  - config={{ k3s.config_dir }}/kubelet.config
kube-controller-manager-arg:
  - bind-address=0.0.0.0
  - terminated-pod-gc-threshold=10
kube-scheduler-arg:
  - bind-address=0.0.0.0
node-taint:
  - node-role.kubernetes.io/control-plane:NoSchedule
tls-san:
  - {{ br_external1.ip }}
write-kubeconfig-mode: 644
